{%extends 'blog/base.html'%}
{%load static %}



{% block msg %} 

<h3 class="text-dark  my-3">About Page</h3>
    <p class="my-5">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo sequi saepe
         harum deleniti voluptatibus ea officiis cum ex aliquid expedita, placeat accusamus dolor voluptates est
         quaerat maxime animi natus praesentium numquam libero sapiente quia quasi?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime ipsum repellat dolorem eum molestias omnis error dolor nam vitae facere, sapiente velit doloribus quasi laborum amet placeat molestiae iusto! Quia!</p> 
  

{%endblock msg %}