{%extends 'blog/base.html'%} {%load static %}


{%block msg%}
 <h3 class="text-black my-3">HomePage</h3>
 <a class="btn btn-success" href="{%url 'addpost' %}">Add Post</a>
 <br>
 {%if messages %} 
 {%for message in messages %}
 <p class="alert alert-success my-1">{{message}}</p>

 {%endfor%} 
 {%endif%} 
 {%endblock msg%}
{% block all %}

<div class="col-sm-12">
 
  {%for post in posts%}
  <div class="jumbotron jumbotron-fluid">
    <div class="container jumbo-color font-weight-bold">
      <h1 class="display-4">Fluid {{post.title}}</h1>
      <p class="lead">{{post.desc}}</p>
    </div>
  </div>
  {%endfor%}
</div>

{%endblock all %}
