{%extends 'blog/base.html'%} {%load static %} {% block content %}

<div class="col-sm-10">
  <h3 class="text-warning my-3">Login</h3>

  <form action="" method="POST" novalidate>
    {% csrf_token %} 
    {%for item in form%}
    <div class="form-group">
      {{item.label_tag}} {{item}}

      <span class="text-danger" value="submit">
        {{item.errors|striptags}}
      </span>
    </div>

    {%endfor%}
    <button class="btn btn-primary my-2" value="submit">Submit</button>

    {%if form.non_field_errors %} {%for error in form.non_field_errors %}
    <br>
    <span class="text-warning">{{error}}</span>
    {% endfor %} {% endif %}
  </form>
</div>

{%endblock content %}
